.titre {
  position: absolute;
  left: 40px;
  top: 15px
}

.vache {
  position: absolute;
  float: right;
  overflow: hidden;
  left: 7%;
  top: 230px;
  display: block;
}

.grenouille {
  position: relative;
  display: block;
  max-width: 60em;
  min-width: 20em;
  left: 42%;
  top: 500px;

}

.grenouillelivre {
  position: absolute;
  display: block;
  left: 24%;
  top: 500px;

}
h1 {
  position: absolute;
  left: 5px;
}

h2 {
  position: absolute;
  left: 600px;
  top: 200px
}

#section-01 {
  position: absolute;
  left: 600px;
  right: 800px;
  top: 300px;
  min-width: 200px;
}

#section-02 {
  position: absolute;
  left: 1100px;
  right: 400px;
  top: 480px;
  min-width: 200px;
}
