@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital@1&family=Lexend+Mega&family=Podkova:wght@800&display=swap');

h1 {
  font-size: 4em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: 'Inria Sans', sans-serif;
  font-style: italic;
}

#section-01 h1 {
  font-size: 8em;
}

p {
  font-size: 1em;
  font-family: 'Podkova', serif;
  font-weight: 800;
}

h2 {
  font-size: 2em;
  font-family: 'Lexend Mega', sans-serif;
  font-weight: 400;
}
